#login__slider {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 0;
}

.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 16px;
  position: relative;

  h2 {
    font-size: 36px;
    margin-bottom: 36px;
    font-family: 'Kirang Haerang', cursive;
    color: var(--title-color);
  }

  .input-box, .btn {
    width: 100%;
    margin-bottom: 24px;
  }

  input {
    width: 100%;
  }

  .text-btn {
    font-size: var(--small-font-size);
    font-weight: 500;
    color: var(--title-color);
  }

  .error-message {
    font-size: var(--x-small-font-size);
    color: var(--red-color);
    margin-top: 4px;
    position: absolute;
  }
}
